*{margin:0;padding:0;box-sizing:border-box;}

body{min-width:850px;}


.intro{
  width:100%;
  height:30px;
}
.intro h1{
  font-family:'Oswald', sans-serif;
  letter-spacing:2px;
  font-weight:normal;
  font-size:14px;
  color:#222;
  text-align:center;
  margin-top:10px;
}
.intro a{
  color:#e74c3c;
  font-weight:bold;
  letter-spacing:0;
}
.intro img{
  width:20px;
  heght:20px;
  margin-left:5px;
  margin-right:5px;
  position:relative;
  top:5px;
}

#marvel{
  width:800px;
  height:300px;
  margin:50px auto;
}
h1{
  font-family: 'Oswald', sans-serif;
  font-weight:normal;
  font-size:22px;
  color:#222;
  text-align:center;
  border-bottom:1px solid #fff;
  letter-spacing:4px;
}
.col{
  width:25%;
  height:100%;
  float:left; 
}

.shield{
  margin:75px auto;
  width:150px;
  height:150px;
  border-radius:50%;
  background:#eee;
  border:15px solid #C73834; 
  position:relative;
}
.light{
	width:150px;
	height:150px;
	border-radius:50%;
	box-shadow:85px 0 10px rgba(255, 255, 255, .1) inset;
	position:absolute;
	z-index:4;
	top:-14px;
	left:-15px;
}
.light:before{
	content:"";
	position:absolute;
	z-index:5;
	width:90px;
	height:90px;
	border-radius:50%;
	margin:auto;left:0;right:0;
	top:30px;
	box-shadow:45px 0 5px rgba(255, 255, 255, .1) inset;
}
.centre{
  width:90px;
  height:90px;
  border-radius:50%;
  background:#1E3065;
  margin:30px auto;
  border:15px solid #C73834;
  position:relative;
}
.star{
   margin:22px auto;left:0;right:0;
   width: 0px;
   height: 0px;
   border-right:  20px solid transparent;
   border-bottom: 14px  solid #fff;
   border-left:   20px solid transparent; 
   position: absolute;
   transform:    rotate(35deg);
}
   .star:after {
   position: absolute;
   display: block;
   top: 0px;
   left: -20px;
   width: 0px;
   height: 0px;
   border-right: 20px solid transparent;
   border-bottom: 14px solid #fff;
   border-left: 20px solid transparent;
   transform: rotate(-70deg);
   content: '';
}
.star:before{ 
   box-sizing:border-box;
   border-bottom: 15px solid #fff;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   position: relative; 
   height: 0;
   width: 0;
   top: -10px;
   left: -12px;
   display: block;
   content: '';
   transform: rotate(-35deg);
}

.hammer{
	width:100px;
	height:135px;
	margin:82px auto;
}
.top{
	width:90px;
	height:50px;
	background:#868376;
	margin:auto;
	position:relative;
}
.top:before{
	content:"";
	position:absolute;
	width:90px;
	height:5px;
	background:rgba(255, 255, 255, .1);
	top:0;
}
.top:after{
	content:"";
	position:absolute;
	width:90px;
	height:5px;
	background:rgba(0, 0, 0, .1);
	bottom:0;
}
.side{
	width:5px;
	height:40px;
	background:#a49f9d;
	margin-top:5px;
}
.left{
	float:left;
	margin-left:-5px;
	position:before;
}
.left:before{
	content:"";
	position:absolute;
	border-right:0px solid transparent;
	border-left:5px solid transparent;
	border-bottom:4px solid #bebdb9;
	top:1px;
}
.left:after{
	content:"";
	position:absolute;
	border-right:0px solid transparent;
	border-left:5px solid transparent;
	border-top:4px solid #61594d;
	bottom:1px;
}
.right{
	float:right;
	margin-right:-5px;
}
.right:before{
	content:"";
	position:absolute;
	border-left:0px solid transparent;
	border-right:5px solid transparent;
	border-bottom:4px solid #bebdb9;
	top:1px;
}
.right:after{
	content:"";
	position:absolute;
	border-left:0px solid transparent;
	border-right:5px solid transparent;
	border-top:4px solid #61594d;
	bottom:1px;
}
.bottom{
	width:14px;
	height:80px;
	background:#6f6c69;
	margin:auto;
	position:relative;
}
.bottom:before{
	content:"";
	position:absolute;
	z-index:2;
	width:20px;
	height:5px;
	background:#6f6c69;
	border-radius:4px;
	bottom:-2px;
	left:-3px;
}
.bottom li{
	width:100%;
	height:16.6%;
	background:#222;
	list-style:none;
	border-bottom:2px solid #d9d9d7;
	position:relative;
}

.hulk-p{
	width:120px;
	height:100px;
	margin:100px auto;
}
.pants{
	width:120px;
	height:50px;
	background:#212d3d;
}
.details{
	width:120px;
	height:50px;
	position:absolute;
	z-index:2;
}
.waist{
	width:100%;
	height:20px;
	margin:2px 0;
	list-style:none;
}
.waist li{
	list-style:none;
	position:relative;width:0;height:0;
	border-left:5.7px solid transparent;
	border-right:5.7px solid transparent;
	border-bottom:6px solid #212d3d;
	float:left;
	top:-6px;
	margin-right:5.5px;
}
.waist li:before{
	content:"";
	position:absolute;
	border-left:5.7px solid transparent;
	border-right:5.7px solid transparent;
	border-bottom:8px solid #212d3d;
	left:5px;
	top:-3px;
}	
.left-leg{
	width:50px;
	height:50px;
	background:#212d3d;
	float:left;
	margin-top:49px;
	position:relative;
}
.left-leg:before{
	content:"";
	position:absolute;
	border-right:7px solid transparent;
	border-left:0px solid transparent;
	border-top:54px solid #212d3d;
	right:-6px;
}	
.left-leg li{
	list-style:none;
	position:relative;width:0;height:0;
	border-left:5.7px solid transparent;
	border-right:5.7px solid transparent;
	border-top:6px solid #212d3d;
	float:left;
	top:48px;
	margin-right:4.9px;
}
.left-leg li:before{
	content:"";
	position:absolute;
	border-left:5.7px solid transparent;
	border-right:5.7px solid transparent;
	border-top:9px solid #212d3d;
	left:4px;
	top:-6px;
}
.right-leg{
	width:50px;
	height:50px;
	background:#212d3d;
	float:right;
	margin-top:49px;
	position:relative;
}
.right-leg:before{
	content:"";
	position:absolute;
	border-left:7px solid transparent;
	border-right:0px solid transparent;
	border-top:54px solid #212d3d;
	left:-6px;
}
.right-leg li{
	list-style:none;
	position:relative;width:0;height:0;
	border-left:5.7px solid transparent;
	border-right:5.7px solid transparent;
	border-top:6px solid #212d3d;
	float:right;
	top:48px;
	margin-left:4.9px;
}
.right-leg li:before{
	content:"";
	position:absolute;
	border-left:5.7px solid transparent;
	border-right:5.7px solid transparent;
	border-top:8px solid #212d3d;
	right:4px;
	top:-6px;
}

.ironman{
	width:100px;
	height:100px;
	margin:110px auto;
	position:relative;
}
.red{
	width:57px;
	height:70px;
	border-radius:20px 20px 50% 50%;
	margin:auto;
	background:#8C292B;
	position:relative;
}
.red:before{
	content:"";
	position:absolute;
	width:45px;
	height:50px;
	top:40px;
	border-radius:0 0 50% 50%;
	margin:auto;left:0;right:0;
	background:#5C292B;
}
.red:after{
	content:"";
	position:absolute;
	z-index:-1;
	width:80px;
	height:40px;
	top:65px;
	border-radius:50%;
	background:#5C292B;	
	left:-10px;
}
.helmet{
	width:40px;
	height:40px;
	margin:auto;
	top:25px;
	border-radius:20px 10px 10px 10px;
	background:#98842E;
	position:relative;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform:rotate(45deg);
}
.helmet:before{
	content:"";
	position:absolute;
	width:20px;
	height:30px;
	background:#98842E;
	-webkit-transform:rotate(-55deg);
	-moz-transform:rotate(-55deg);
	transform:rotate(-55deg);	
	left:-12px;
}
.helmet:after{
	content:"";
	position:absolute;
	width:20px;
	height:30px;
	background:#98842E;
	-webkit-transform:rotate(-35deg);
	-moz-transform:rotate(-35deg);
	transform:rotate(-35deg);	
	left:5px;
	top:-17px;
}
.eyes{
	width:40px;
	height:10px;
	position:relative;
	top:19px;
	left:4px;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.eye-l{
	width:12px;
	height:3px;
	float:left;
	background:#fff;
	box-sizing:initial;
	border-radius:50% 50%;
	box-shadow:0 0 15px #fff;
}
.eye-l:before{
	content:"";
	position:absolute;
	border-left:4px solid transparent;
	border-right:10px solid transparent;
	border-bottom:2px solid #fff;
	top:-2px;
}
.eye-r{
	width:12px;
	height:3px;
	float:right;
	background:#fff;
	box-sizing:initial;
	border-radius:0 0 50% 50%;
	box-shadow:0 0 15px #fff;
}
.eye-r:before{
	content:"";
	position:absolute;
	border-right:4px solid transparent;
	border-left:9px solid transparent;
	border-bottom:2px solid #fff;
	top:-2px;
}
.teeth{
	width:25px;
	height:10px;
	position:relative;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	transform:rotate(-45deg);
	top:22px;
	left:24px;
}
.teeth:before{
	content:"";
	position:absolute;
	width:22px;
	height:5px;
	top:1px;
	background:#98842E;
}
.tooth-l{
	width:5px;
	height:12px;
	position:relative;
	float:left;
	background:#98842E;
	top:-3px;
}
.tooth-r{
	width:5px;
	height:12px;
	position:relative;
	float:right;
	background:#98842E;
	top:-3px;
}
.mouth{
	width:15px;
	height:5px;
	background:#98842E;
	position:relative;
	top:18px;
	left:21px;
	margin:auto;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.mouth:before{
	content:"";
	position:absolute;
	width:5px;
	height:5px;
	left:-5px;
	top:2px;
	background:#98842E;
}
.mouth:after{
	content:"";
	position:absolute;
	width:5px;
	height:5px;
	right:-5px;
	top:2px;
	background:#98842E;
}

