/**, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}*/

body {
  background: #1f1f1f;
/*  font-family: 'Open Sans', Helvetica, Arial, sans-serif;*/
}

.event_data {
  color: #fff;
  font-size: 25px;
  margin-top: 50px;
}

.robo_cont {
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding: 80px 70px;
}
.robo_cont__inner {
  position: relative;
  height: 100%;
}
.robo_cont__inner:hover .el__bg:after {
  opacity: 1;
}

.robo_el {
  position: absolute;
  left: 0;
  top: 0;
  /*width: 12%;*/
  height: 100%;
  background: #252525;
  transition: width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s, -webkit-transform 0.6s 0.7s;
  transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s;
  transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s, -webkit-transform 0.6s 0.7s;
  will-change: transform, width, opacity;
}
.robo_el:not(.s--active) {
  cursor: pointer;
}
.robo_el__overflow {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.robo_el__inner {
  overflow: hidden;
  position: relative;
  height: 100%;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.robo_cont.s--inactive .robo_el__inner {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.robo_el__bg {
  position: relative;
  width: calc(100vw - 140px);
  height: 100%;
  transition: -webkit-transform 0.6s 0.7s;
  transition: transform 0.6s 0.7s;
  transition: transform 0.6s 0.7s, -webkit-transform 0.6s 0.7s;
  will-change: transform;
}
.robo_el__bg:before {
  content: "";
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: center center;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
}
.robo_cont.s--inactive .robo_el__bg:before {
  -webkit-transform: translate3d(0, -100%, 0) scale(1.2);
          transform: translate3d(0, -100%, 0) scale(1.2);
}
.robo_el.s--active .robo_el__bg:before {
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}
.robo_el__bg:after {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.5s;
}
.robo_cont.s--robo_el-active .robo_el__bg:after {
  transition: opacity 0.5s 1.4s;
  opacity: 1 !important;
}
.robo_el__preview-cont {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s 1.2s;
}
.robo_cont.s--inactive .robo_el__preview-cont {
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
.robo_cont.s--robo_el-active .robo_el__preview-cont {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  transition: all 0.5s;
}
.robo_el__heading {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}
.robo_el__content {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.1s;
}
.robo_el.s--active .robo_el__content {
  z-index: 2;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s 1.4s;
}
.robo_el__text {
  text-transform: uppercase;
  font-size: 40px;
  color: #fff;
}
.robo_el__close-btn {
  z-index: -1;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  height: 60px;
  opacity: 0;
  pointer-events: none;
  transition: all 0s 0.45s;
  cursor: pointer;
}
.robo_el.s--active .robo_el__close-btn {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transition: all 0s 1.4s;
}
.robo_el__close-btn:before, .robo_el__close-btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 8px;
  margin-top: -4px;
  background: #fff;
  opacity: 0;
  transition: opacity 0s;
}
.robo_el.s--active .robo_el__close-btn:before, .robo_el.s--active .robo_el__close-btn:after {
  opacity: 1;
}
.robo_el__close-btn:before {
  -webkit-transform: rotate(45deg) translateX(100%);
          transform: rotate(45deg) translateX(100%);
}
.robo_el.s--active .robo_el__close-btn:before {
  transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
  -webkit-transform: rotate(45deg) translateX(0);
          transform: rotate(45deg) translateX(0);
}
.robo_el__close-btn:after {
  -webkit-transform: rotate(-45deg) translateX(100%);
          transform: rotate(-45deg) translateX(100%);
}
.robo_el.s--active .robo_el__close-btn:after {
  transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
  -webkit-transform: rotate(-45deg) translateX(0);
          transform: rotate(-45deg) translateX(0);
}
.robo_el__index {
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: -80px;
  width: 100%;
  height: 100%;
  min-height: 250px;
  text-align: center;
  font-size: 20vw;
  line-height: 0.85;
  font-weight: bold;
  transition: opacity 0.3s 1.4s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.3s 1.4s;
  transition: transform 0.5s, opacity 0.3s 1.4s, -webkit-transform 0.5s;
  -webkit-transform: translate3d(0, 1vw, 0);
          transform: translate3d(0, 1vw, 0);
}
.robo_el:hover .robo_el__index {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.robo_cont.s--robo_el-active .robo_el__index {
  transition: opacity 0.3s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.3s;
  transition: transform 0.5s, opacity 0.3s, -webkit-transform 0.5s;
  opacity: 0;
}
.robo_el__index-back, .robo_el__index-front {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.robo_el__index-back {
  color: #2f3840;
  opacity: 0;
  transition: opacity 0.25s 0.25s;
}
.robo_el:hover .robo_el__index-back {
  transition: opacity 0.25s;
  opacity: 1;
}
.robo_el__index-overlay {
  overflow: hidden;
  position: relative;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  transition: -webkit-transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
  color: transparent;
}
.robo_el__index-overlay:before {
  content: attr(data-index);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  transition: -webkit-transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
}
.robo_el:hover .robo_el__index-overlay {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.robo_el:hover .robo_el__index-overlay:before {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.robo_el:hover .robo_el__bg:after {
  opacity: 0;
}
.robo_el.s--active {
  z-index: 1;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: width 0.7s 0.7s, z-index 0s, -webkit-transform 0.6s;
  transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
  transition: transform 0.6s, width 0.7s 0.7s, z-index 0s, -webkit-transform 0.6s;
}
.robo_el.s--active .robo_el__bg {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.robo_el.s--active .robo_el__bg:before {
  transition-delay: 0.6s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media only screen and (max-width: 1000px) {

  .robo_cont {
    margin-top: 20px;
    height: 98vh;
    padding: 50px 20px;
  }
  .robo_cont.s--robo_el-active .robo_el__bg:after {
    transition: none;
    opacity: 0;
  }

  .robo_cont.s--robo_el-active .robo_el__preview-cont {
    opacity: 0;
    -webkit-transform: none;
            transform: none;
    transition: none;
  }
  .robo_cont.s--robo_el-active .robo_el__index {
    transition: none;
    opacity: 0;
  }

  .robo_el__inner {
    transition: none;
  }
  .robo_cont.s--inactive .robo_el__bg:before {
    transform: none;
  }
  .robo_el.s--active .robo_el__bg:before {
    transition: none;
  }
  .robo_cont.s--inactive .robo_el__preview-cont {
    opacity: 1;
    transform: none;
  }

  .robo_el__heading {
    font-size: 30px;
    /*-webkit-text-stroke: 1px black;*/
  }

  .robo_el__text {
    font-size: 5em;
    margin-top: 30px;
  }
  .event_data {
    font-size: 20px;
  }
  .robo_el__close-btn {
    right: 5px;
    top: 1px;
    width: 50px;
  }
  .robo_el.s--active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    height: 100% !important;
    transition: height 0.7s 0.7s, z-index 0s, -webkit-transform 0.6s;
    transition: transform 0.6s, height 0.7s 0.7s, z-index 0s;
    transition: transform 0.6s, height 0.7s 0.7s, z-index 0s, -webkit-transform 0.6s;
  }
  .robo_el__bg {
    width: calc(100vw - 40px);
  }
  .robo_el {
    width: 100%;
    transition: height 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s, -webkit-transform 0.6s 0.7s;
    transition: transform 0.6s 0.7s, height 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s;
    transition: transform 0.6s 0.7s, height 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s, -webkit-transform 0.6s 0.7s;
  }
  .robo_el.s--active .robo_el__bg:before {
    transition-delay: 0.6s;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .robo_el__index {
    top: 0;
    right: -47vw;
    left: unset;
    bottom: 0;
    width: 100%;
    height: 100%;
    min-width: 50px;
    min-height: 10px;
    font-size: 20vw;
  }
  .robo_el__index-back, .robo_el__index-front {
    top: 0;
    right: 0;
  }
  .robo_el__index-overlay:before {
    top: 0;
    right: 0;
  }
}
