.robo_el {
  width: 24%;
}
.robo_el:nth-child(1) {
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.robo_cont.s--robo_el-active .robo_el:nth-child(1):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(0%, 0, 0);
          transform: scale(0.5) translate3d(0%, 0, 0);
  opacity: 0;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.robo_el:nth-child(1) .robo_el__inner {
  transition-delay: 0s;
}
.robo_el:nth-child(1) .robo_el__bg {
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}
.robo_el:nth-child(1) .robo_el__bg:before {
  transition-delay: 0s;
  background-image: url("../../../assets/photos/ultron.jpg");
}
.robo_el:nth-child(2) {
  -webkit-transform: translate3d(105.2083333333%, 0, 0);
          transform: translate3d(105.2083333333%, 0, 0);
  -webkit-transform-origin: 155.2083333333% 50%;
          transform-origin: 155.2083333333% 50%;
}
.robo_cont.s--robo_el-active .robo_el:nth-child(2):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
          transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
  opacity: 0;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.robo_el:nth-child(2) .robo_el__inner {
  transition-delay: 0.1s;
}
.robo_el:nth-child(2) .robo_el__bg {
  -webkit-transform: translate3d(-15.36%, 0, 0);
          transform: translate3d(-15.36%, 0, 0);
}
.robo_el:nth-child(2) .robo_el__bg:before {
  transition-delay: 0.1s;
  background-image: url("../../../assets/photos/ultron.jpg");
}
.robo_el:nth-child(3) {
  -webkit-transform: translate3d(210.4166666667%, 0, 0);
          transform: translate3d(210.4166666667%, 0, 0);
  -webkit-transform-origin: 260.4166666667% 50%;
          transform-origin: 260.4166666667% 50%;
}
.robo_cont.s--robo_el-active .robo_el:nth-child(3):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
          transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
  opacity: 0;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.robo_el:nth-child(3) .robo_el__inner {
  transition-delay: 0.2s;
}
.robo_el:nth-child(3) .robo_el__bg {
  -webkit-transform: translate3d(-30.72%, 0, 0);
          transform: translate3d(-30.72%, 0, 0);
}
.robo_el:nth-child(3) .robo_el__bg:before {
  transition-delay: 0.2s;
  background-image: url("../../../assets/photos/ultron.jpg");
}
.robo_el:nth-child(4) {
  -webkit-transform: translate3d(315.625%, 0, 0);
          transform: translate3d(315.625%, 0, 0);
  -webkit-transform-origin: 365.625% 50%;
          transform-origin: 365.625% 50%;
}
.robo_cont.s--robo_el-active .robo_el:nth-child(4):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(315.625%, 0, 0);
          transform: scale(0.5) translate3d(315.625%, 0, 0);
  opacity: 0;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.robo_el:nth-child(4) .robo_el__inner {
  transition-delay: 0.3s;
}
.robo_el:nth-child(4) .robo_el__bg {
  -webkit-transform: translate3d(-46.08%, 0, 0);
          transform: translate3d(-46.08%, 0, 0);
}
.robo_el:nth-child(4) .robo_el__bg:before {
  transition-delay: 0.3s;
  background-image: url("../../../assets/photos/ultron.jpg");
}
@media only screen and (max-width: 1000px) {
  .robo_el {
    height: 24% !important;
  }

  .robo_cont.s--robo_el-active .robo_el:nth-child(1):not(.s--active) {
    transform: none;
    opacity: 0;
    transition: opacity 0.95s;
  }
  .robo_cont.s--robo_el-active .robo_el:nth-child(2):not(.s--active) {
    -webkit-transform: translate3d(0, 105.2083333333%, 0);
          transform: translate3d(0, 105.2083333333%, 0);
    transition: opacity 0.95s;
  }
  .robo_cont.s--robo_el-active .robo_el:nth-child(3):not(.s--active) {
    -webkit-transform: translate3d(0, 210.4166666667%, 0);
          transform: translate3d(0, 210.4166666667%, 0);
    transition: opacity 0.95s;
  }
  .robo_cont.s--robo_el-active .robo_el:nth-child(4):not(.s--active) {
    -webkit-transform: translate3d(0, 315.625%, 0);
          transform: translate3d(0, 315.625%, 0);
    transition: opacity 0.95s;
  }
  .robo_el:nth-child(2) {
    -webkit-transform: translate3d(0, 105.2083333333%, 0);
            transform: translate3d(0, 105.2083333333%, 0);
    -webkit-transform-origin: 155.2083333333% 50%;
            transform-origin: 155.2083333333% 50%;
  }
  .robo_el:nth-child(2) .robo_el__bg {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .robo_el:nth-child(3) {
    -webkit-transform: translate3d(0, 210.4166666667%, 0);
            transform: translate3d(0, 210.4166666667%, 0);
    -webkit-transform-origin: 260.4166666667% 50%;
            transform-origin: 260.4166666667% 50%;
  }
  .robo_el:nth-child(3) .robo_el__bg {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .robo_el:nth-child(4) {
    -webkit-transform: translate3d(0, 315.625%, 0);
            transform: translate3d(0, 315.625%, 0);
    -webkit-transform-origin: 365.625% 50%;
            transform-origin: 365.625% 50%;
  }
  .robo_el:nth-child(4) .el__bg {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
