.gam_el {
  width: 32%;
}
.gam_el:nth-child(1) {
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.gam_cont.s--gam_el-active .gam_el:nth-child(1):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(0%, 0, 0);
          transform: scale(0.5) translate3d(0%, 0, 0);
  opacity: 0;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.gam_el:nth-child(1) .gam_el__inner {
  transition-delay: 0s;
}
.gam_el:nth-child(1) .gam_el__bg {
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}
.gam_el:nth-child(1) .gam_el__bg:before {
  transition-delay: 0s;
  background-image: url("../../../assets/photos/spidey.jpg");
}
.gam_el:nth-child(2) {
  -webkit-transform: translate3d(105.2083333333%, 0, 0);
          transform: translate3d(105.2083333333%, 0, 0);
  -webkit-transform-origin: 155.2083333333% 50%;
          transform-origin: 155.2083333333% 50%;
}
.gam_cont.s--gam_el-active .gam_el:nth-child(2):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
          transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
  opacity: 0;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.gam_el:nth-child(2) .gam_el__inner {
  transition-delay: 0.1s;
}
.gam_el:nth-child(2) .gam_el__bg {
  -webkit-transform: translate3d(-15.36%, 0, 0);
          transform: translate3d(-15.36%, 0, 0);
}
.gam_el:nth-child(2) .gam_el__bg:before {
  transition-delay: 0.1s;
  background-image: url("../../../assets/photos/spidey.jpg");
}
.gam_el:nth-child(3) {
  -webkit-transform: translate3d(210.4166666667%, 0, 0);
          transform: translate3d(210.4166666667%, 0, 0);
  -webkit-transform-origin: 260.4166666667% 50%;
          transform-origin: 260.4166666667% 50%;
}
.gam_cont.s--gam_el-active .gam_el:nth-child(3):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
          transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
  opacity: 0;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.gam_el:nth-child(3) .gam_el__inner {
  transition-delay: 0.2s;
}
.gam_el:nth-child(3) .gam_el__bg {
  -webkit-transform: translate3d(-30.72%, 0, 0);
          transform: translate3d(-30.72%, 0, 0);
}
.gam_el:nth-child(3) .gam_el__bg:before {
  transition-delay: 0.2s;
  background-image: url("../../../assets/photos/spidey.jpg");
}

@media only screen and (max-width: 1000px) {
  .gam_el {
    height: 32% !important;
  }
  .gam_cont.s--gam_el-active .gam_el:nth-child(1):not(.s--active) {
    transform: none;
    opacity: 0;
    transition: opacity 0.95s;
  }
  .gam_cont.s--gam_el-active .gam_el:nth-child(2):not(.s--active) {
    -webkit-transform: translate3d(0, 105.2083333333%, 0);
          transform: translate3d(0, 105.2083333333%, 0);
    transition: opacity 0.95s;
  }
  .gam_cont.s--gam_el-active .gam_el:nth-child(3):not(.s--active) {
    -webkit-transform: translate3d(0, 210.4166666667%, 0);
          transform: translate3d(0, 210.4166666667%, 0);
    transition: opacity 0.95s;
  }

  .gam_el:nth-child(2) {
    -webkit-transform: translate3d(0, 105.2083333333%, 0);
            transform: translate3d(0, 105.2083333333%, 0);
    -webkit-transform-origin: 155.2083333333% 50%;
            transform-origin: 155.2083333333% 50%;
  }
  .gam_el:nth-child(2) .gam_el__bg {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .gam_el:nth-child(3) {
    -webkit-transform: translate3d(0, 210.4166666667%, 0);
            transform: translate3d(0, 210.4166666667%, 0);
    -webkit-transform-origin: 260.4166666667% 50%;
            transform-origin: 260.4166666667% 50%;
  }
  .gam_el:nth-child(3) .gam_el__bg {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}