.admin-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	min-height: 100vh;
	font-size: 1.35em;
	color: white;
	width: 90%;
}
.admin-headin {
	margin-top: 30px;
	width: 100%;
}

.payments {
	width: 100%;
}

.payments div {
	margin-bottom: 50px;
    max-height: 1000px;
    overflow-y: auto;}

.users {
	width: 96%;
	margin-left: 2%;
}
.users .usersListHeight{
    margin-top: 50px;
    max-height: 1500px;
    overflow-y: auto;    
}
/* Accordion Styles */
.u-position-absolute {
    position: absolute;
}

.u-position-relative {
    position: relative;
}

.accordion {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 80vw;
}

.accordion__item + .accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__item--has-icon {
    position: relative;
}

.accordion__title {
    /*background-color: #f4f4f4;*/
    /*color: #444;*/
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    display: flex;
    justify-content: space-between;
}
.accordion__title span {
	width: 10%;
	text-align: left;
}
.accordion__title span:nth-child(2) {
	width: 30%;
	text-align: center;
}
.accordion__title span:nth-child(3) {
	width: 50%;
}
.accordion__title span:nth-child(4) {
	text-align: right;
}
.accordion__title:hover {
    background-color: #0c1219;
}

.accordion__body {
    /*padding: 20px;*/
    display: block;
    animation: fadein 0.25s ease-in;
    display: flex;
    flex-direction: column;
}

.acc-body-div {
	width: 100%;
	padding: 18px;
	display: flex;
	flex-direction: row;
}
.acc-body-div:hover {
	background-color: #0e1824;
}
.acc-body-div span {
	width: 50%;
}

.accordion__body--hidden {
    display: none;
    opacity: 0;
    animation: fadein 0.25s ease-in;
}

.accordion__title > *:last-child,
.accordion__body > *:last-child {
    margin-bottom: 0;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes move-down {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(5px);
    }
    30% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes move-up {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-5px);
    }
    30% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@media only screen and (max-width: 800px) {
	
	.admin-content {
		font-size: 1.15em;
	}
	.accordion {
		width: 98vw;
		padding: 0px;
	}
	.accordion__title span:nth-child(1) {
		width: 15%;
		text-align: left;
	}
	.accordion__title span:nth-child(2) {
		width: 35%;
		text-align: left;
	}
	.accordion__title span:nth-child(3) {
		width: 40%;
	}
	.acc-body-div {
		flex-direction: column;
	}
	.acc-body-div span {
		width: 100%;
		margin-bottom: 10px;
	}
}
.limitTableSize{
    height: 500px;
    overflow-y: auto;
}