.admin-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	min-height: 100vh;
	font-size: 1.35em;
	color: white;
	width: 100%;
}
.admin-headin {
	margin-top: 30px;
	width: 100%;
}

.payments {
	width: 100%;
}

.payments div {
	margin-bottom: 50px;
}