.width {
	width: 11%;
}
.width2 {
  width: 20%;
}

/*--------------------------------------------------------*/

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}
.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.background:first-child {
  background-image: url(../../assets/photos/CoBackground.jpg);
  -webkit-transform: translateY(-15vh);
          transform: translateY(-15vh);
}
.background:first-child .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}
.background:nth-child(2) {
  background-image: url(../../assets/photos/EMTBackground.jpg);
}
.background:nth-child(3) {
  background-image: url(../../assets/photos/TMBackground.jpg);
}

.background:nth-child(4) {
  background-image: url(../../assets/photos/WebBackground.jpg);
}

/* Set stacking context of slides */
.background:nth-child(1) {
  z-index: 4;
}

.background:nth-child(2) {
  z-index: 3;
}

.background:nth-child(3) {
  z-index: 2;
}

.background:nth-child(4) {
  z-index: 1;
}


.content-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column nowrap;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase;
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}
.content-title {
  font-size: 12vh;
  line-height: 1.4;
}

.background.up-scroll {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}
.background.up-scroll .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}
.background.up-scroll + .background {
  -webkit-transform: translate3d(0, 30vh, 0);
          transform: translate3d(0, 30vh, 0);
}
.background.up-scroll + .background .content-wrapper {
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
}

.background.down-scroll {
  -webkit-transform: translate3d(0, -130vh, 0);
          transform: translate3d(0, -130vh, 0);
}
.background.down-scroll .content-wrapper {
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
}
.background.down-scroll + .background:not(.down-scroll) {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}

/*---------------------------------------------*/
.our-team img{
    width: 100%;
    height: 100%;
}

.our-team .team-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /*padding: 1px 0;*/
    background-color: #00b3b3;
    transition:all 0.3s ease 0s;
}
.our-team:hover .team-content{
    bottom: 30%;
}
.our-team .team-content .name{
    font-size: 14px;
    font-weight: 800;
    display: block;
    margin-bottom: 3px;
    text-transform: uppercase;
    transition:all 0.3s ease 0s;
}
.our-team:hover .team-content .name{
    transform:translateY(32px);
    transition-delay:0.3s;
}
.our-team .team-content .email{
    font-size: 13px;
    display: block;

    transition:all 0.3s ease 0s;
    /*text-transform: capitalize;*/
}
.our-team:hover .team-content .email{
    transform:translateY(-20px);
    transition-delay:0.3s;
}

.our-team .team-content .phone{
    font-size: 14px;
    display: block;
    transition:all 0.3s ease 0s;
    /*text-transform: capitalize;*/
}

.mob_container {
  display: none;
}

@media only screen and (max-width: 800px) {
  .container {
    display: none;
  }
  .mob_container {
    display: block;
  }
  .mob_content-wrapper {
    height: 100vh;
    /*display: flex;*/
    justify-content: center;
    text-align: center;
    /*flex-flow: column nowrap;*/
    color: #fff;
    font-family: Montserrat;
    /*text-transform: uppercase;*/
    -webkit-transform: translateY(4vh);
            transform: translateY(4vh);
    will-change: transform;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
  }
  .width {
    width: 300px;
  }
  .width2 {
    width: 300px;
  }
}
a {
  text-decoration: none;
  color: white;
}