.info_el {
  width: 19.2%;
}
.info_el:nth-child(1) {
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.info_cont.s--info_el-active .info_el:nth-child(1):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(0%, 0, 0);
          transform: scale(0.5) translate3d(0%, 0, 0);
  opacity: 0;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.info_el:nth-child(1) .info_el__inner {
  transition-delay: 0s;
}
.info_el:nth-child(1) .info_el__bg {
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}
.info_el:nth-child(1) .info_el__bg:before {
  transition-delay: 0s;
  background-image: url("../../../assets/photos/captainamerica.jpg");
}
.info_el:nth-child(2) {
  -webkit-transform: translate3d(105.2083333333%, 0, 0);
          transform: translate3d(105.2083333333%, 0, 0);
  -webkit-transform-origin: 155.2083333333% 50%;
          transform-origin: 155.2083333333% 50%;
}
.info_cont.s--info_el-active .info_el:nth-child(2):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
          transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
  opacity: 0;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.info_el:nth-child(2) .info_el__inner {
  transition-delay: 0.1s;
}
.info_el:nth-child(2) .info_el__bg {
  -webkit-transform: translate3d(-19.2%, 0, 0);
          transform: translate3d(-19.2%, 0, 0);
}
.info_el:nth-child(2) .info_el__bg:before {
  transition-delay: 0.1s;
  background-image: url("../../../assets/photos/captainamerica.jpg");
}
.info_el:nth-child(3) {
  -webkit-transform: translate3d(210.4166666667%, 0, 0);
          transform: translate3d(210.4166666667%, 0, 0);
  -webkit-transform-origin: 260.4166666667% 50%;
          transform-origin: 260.4166666667% 50%;
}
.info_cont.s--info_el-active .info_el:nth-child(3):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
          transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
  opacity: 0;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.info_el:nth-child(3) .info_el__inner {
  transition-delay: 0.2s;
}
.info_el:nth-child(3) .info_el__bg {
  -webkit-transform: translate3d(-38.4%, 0, 0);
          transform: translate3d(-38.4%, 0, 0);
}
.info_el:nth-child(3) .info_el__bg:before {
  transition-delay: 0.2s;
  background-image: url("../../../assets/photos/captainamerica.jpg");
}
.info_el:nth-child(4) {
  -webkit-transform: translate3d(315.625%, 0, 0);
          transform: translate3d(315.625%, 0, 0);
  -webkit-transform-origin: 365.625% 50%;
          transform-origin: 365.625% 50%;
}
.info_cont.s--info_el-active .info_el:nth-child(4):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(315.625%, 0, 0);
          transform: scale(0.5) translate3d(315.625%, 0, 0);
  opacity: 0;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.info_el:nth-child(4) .info_el__inner {
  transition-delay: 0.3s;
}
.info_el:nth-child(4) .info_el__bg {
  -webkit-transform: translate3d(-57.6%, 0, 0);
          transform: translate3d(-57.6%, 0, 0);
}
.info_el:nth-child(4) .info_el__bg:before {
  transition-delay: 0.3s;
  background-image: url("../../../assets/photos/captainamerica.jpg");
}
.info_el:nth-child(5) {
  -webkit-transform: translate3d(420.8333333333%, 0, 0);
          transform: translate3d(420.8333333333%, 0, 0);
  -webkit-transform-origin: 470.8333333333% 50%;
          transform-origin: 470.8333333333% 50%;
}
.info_cont.s--info_el-active .info_el:nth-child(5):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(420.8333333333%, 0, 0);
          transform: scale(0.5) translate3d(420.8333333333%, 0, 0);
  opacity: 0;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.info_el:nth-child(5) .info_el__inner {
  transition-delay: 0.4s;
}
.info_el:nth-child(5) .info_el__bg {
  -webkit-transform: translate3d(-76.8%, 0, 0);
          transform: translate3d(-76.8%, 0, 0);
}
.info_el:nth-child(5) .info_el__bg:before {
  transition-delay: 0.4s;
  background-image: url("../../../assets/photos/captainamerica.jpg");
}
.info_el:hover .info_el__bg:after {
  opacity: 0;
}
@media only screen and (max-width: 1000px) {

  .info_el {
    height: 19.2% !important;
  }

  .info_cont.s--info_el-active .info_el:nth-child(1):not(.s--active) {
    transform: none;
    opacity: 0;
    transition: opacity 0.95s;
  }
  .info_cont.s--info_el-active .info_el:nth-child(2):not(.s--active) {
    -webkit-transform: translate3d(0, 105.2083333333%, 0);
          transform: translate3d(0, 105.2083333333%, 0);
    transition: opacity 0.95s;
  }
  .info_cont.s--info_el-active .info_el:nth-child(3):not(.s--active) {
    -webkit-transform: translate3d(0, 210.4166666667%, 0);
          transform: translate3d(0, 210.4166666667%, 0);
    transition: opacity 0.95s;
  }
  .info_cont.s--info_el-active .info_el:nth-child(4):not(.s--active) {
    -webkit-transform: translate3d(0, 315.625%, 0);
          transform: translate3d(0, 315.625%, 0);
    transition: opacity 0.95s;
  }
  .info_cont.s--info_el-active .info_el:nth-child(5):not(.s--active) {
    -webkit-transform: translate3d(0, 420.8333333333%, 0);
          transform: translate3d(0, 420.8333333333%, 0);
    transition: opacity 0.95s;
  }
  .info_el:nth-child(2) {
    -webkit-transform: translate3d(0, 105.2083333333%, 0);
            transform: translate3d(0, 105.2083333333%, 0);
    -webkit-transform-origin: 155.2083333333% 50%;
            transform-origin: 155.2083333333% 50%;
  }
  .info_el:nth-child(2) .info_el__bg {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .info_el:nth-child(3) {
    -webkit-transform: translate3d(0, 210.4166666667%, 0);
            transform: translate3d(0, 210.4166666667%, 0);
    -webkit-transform-origin: 260.4166666667% 50%;
            transform-origin: 260.4166666667% 50%;
  }
  .info_el:nth-child(3) .info_el__bg {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .info_el:nth-child(4) {
    -webkit-transform: translate3d(0, 315.625%, 0);
            transform: translate3d(0, 315.625%, 0);
    -webkit-transform-origin: 365.625% 50%;
            transform-origin: 365.625% 50%;
  }
  .info_el:nth-child(4) .info_el__bg {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .info_el:nth-child(5) {
    -webkit-transform: translate3d(0, 420.8333333333%, 0);
            transform: translate3d(0, 420.8333333333%, 0);
    -webkit-transform-origin: 470.8333333333% 50%;
            transform-origin: 470.8333333333% 50%;
  }
  .info_el:nth-child(5) .info_el__bg {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}