.online_el {
  width: 12%;
}

.online_el:nth-child(1) {
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.online_cont.s--online_el-active .online_el:nth-child(1):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(0%, 0, 0);
          transform: scale(0.5) translate3d(0%, 0, 0);
  opacity: 0;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.online_el:nth-child(1) .online_el__inner {
  transition-delay: 0s;
}
.online_el:nth-child(1) .online_el__bg {
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}
.online_el:nth-child(1) .online_el__bg:before {
  transition-delay: 0s;
  background-image: url("../../../assets/photos/blackwidow.jpg");
}
.online_el:nth-child(2) {
  -webkit-transform: translate3d(105.2083333333%, 0, 0);
          transform: translate3d(105.2083333333%, 0, 0);
  -webkit-transform-origin: 155.2083333333% 50%;
          transform-origin: 155.2083333333% 50%;
}
.online_cont.s--online_el-active .online_el:nth-child(2):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
          transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
  opacity: 0;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.online_el:nth-child(2) .online_el__inner {
  transition-delay: 0.1s;
}
.online_el:nth-child(2) .online_el__bg {
  -webkit-transform: translate3d(-10.97%, 0, 0);
          transform: translate3d(-10.97%, 0, 0);
}
.online_el:nth-child(2) .online_el__bg:before {
  transition-delay: 0.1s;
  background-image: url("../../../assets/photos/blackwidow.jpg");
}
.online_el:nth-child(3) {
  -webkit-transform: translate3d(210.4166666667%, 0, 0);
          transform: translate3d(210.4166666667%, 0, 0);
  -webkit-transform-origin: 260.4166666667% 50%;
          transform-origin: 260.4166666667% 50%;
}
.online_cont.s--online_el-active .online_el:nth-child(3):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
          transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
  opacity: 0;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.online_el:nth-child(3) .online_el__inner {
  transition-delay: 0.2s;
}
.online_el:nth-child(3) .online_el__bg {
  -webkit-transform: translate3d(-21.94%, 0, 0);
          transform: translate3d(-21.94%, 0, 0);
}
.online_el:nth-child(3) .online_el__bg:before {
  transition-delay: 0.2s;
  background-image: url("../../../assets/photos/blackwidow.jpg");
}
.online_el:nth-child(4) {
  -webkit-transform: translate3d(315.625%, 0, 0);
          transform: translate3d(315.625%, 0, 0);
  -webkit-transform-origin: 365.625% 50%;
          transform-origin: 365.625% 50%;
}
.online_cont.s--online_el-active .online_el:nth-child(4):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(315.625%, 0, 0);
          transform: scale(0.5) translate3d(315.625%, 0, 0);
  opacity: 0;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.online_el:nth-child(4) .online_el__inner {
  transition-delay: 0.3s;
}
.online_el:nth-child(4) .online_el__bg {
  -webkit-transform: translate3d(-32.91%, 0, 0);
          transform: translate3d(-32.91%, 0, 0);
}
.online_el:nth-child(4) .online_el__bg:before {
  transition-delay: 0.3s;
  background-image: url("../../../assets/photos/blackwidow.jpg");
}
.online_el:nth-child(5) {
  -webkit-transform: translate3d(420.8333333333%, 0, 0);
          transform: translate3d(420.8333333333%, 0, 0);
  -webkit-transform-origin: 470.8333333333% 50%;
          transform-origin: 470.8333333333% 50%;
}
.online_cont.s--online_el-active .online_el:nth-child(5):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(420.8333333333%, 0, 0);
          transform: scale(0.5) translate3d(420.8333333333%, 0, 0);
  opacity: 0;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.online_el:nth-child(5) .online_el__inner {
  transition-delay: 0.4s;
}
.online_el:nth-child(5) .online_el__bg {
  -webkit-transform: translate3d(-43.88%, 0, 0);
          transform: translate3d(-43.88%, 0, 0);
}
.online_el:nth-child(5) .online_el__bg:before {
  transition-delay: 0.4s;
  background-image: url("../../../assets/photos/blackwidow.jpg");
}
.online_el:nth-child(6) {
  -webkit-transform: translate3d(526.041333333%, 0, 0);
          transform: translate3d(526.041333333%, 0, 0);
  -webkit-transform-origin: 575.8333333333% 50%;
          transform-origin: 575.8333333333% 50%;
}
.online_cont.s--online_el-active .online_el:nth-child(6):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(526.041333333%, 0, 0);
          transform: scale(0.5) translate3d(526.041333333%, 0, 0);
  opacity: 0;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.online_el:nth-child(6) .online_el__inner {
  transition-delay: 0.5s;
}
.online_el:nth-child(6) .online_el__bg {
  -webkit-transform: translate3d(-54.85%, 0, 0);
          transform: translate3d(-54.85%, 0, 0);
}
.online_el:nth-child(6) .online_el__bg:before {
  transition-delay: 0.5s;
  background-image: url("../../../assets/photos/blackwidow.jpg");
}
.online_el:nth-child(7) {
  -webkit-transform: translate3d(631.249%, 0, 0);
          transform: translate3d(631.249%, 0, 0);
  -webkit-transform-origin: 681.041% 50%;
          transform-origin: 681.041% 50%;
}
.online_cont.s--online_el-active .online_el:nth-child(7):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(631.249%, 0, 0);
          transform: scale(0.5) translate3d(631.249%, 0, 0);
  opacity: 0;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.online_el:nth-child(7) .online_el__inner {
  transition-delay: 0.6s;
}
.online_el:nth-child(7) .online_el__bg {
  -webkit-transform: translate3d(-65.82%, 0, 0);
          transform: translate3d(-65.82%, 0, 0);
}
.online_el:nth-child(7) .online_el__bg:before {
  transition-delay: 0.6s;
  background-image: url("../../../assets/photos/blackwidow.jpg");
}
.online_el:nth-child(8) {
  -webkit-transform: translate3d(736.457%, 0, 0);
          transform: translate3d(736.457%, 0, 0);
  -webkit-transform-origin: 786.249% 50%;
          transform-origin: 786.249% 50%;
}
.online_cont.s--online_el-active .online_el:nth-child(8):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(736.457%, 0, 0);
          transform: scale(0.5) translate3d(736.457%, 0, 0);
  opacity: 0;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.online_el:nth-child(8) .online_el__inner {
  transition-delay: 0.7s;
}
.online_el:nth-child(8) .online_el__bg {
  -webkit-transform: translate3d(-76.8%, 0, 0);
          transform: translate3d(-76.8%, 0, 0);
}
.online_el:nth-child(8) .online_el__bg:before {
  transition-delay: 0.7s;
  background-image: url("../../../assets/photos/blackwidow.jpg");
}

@media only screen and (max-width: 1000px) {

  .online_el {
    height: 12% !important;
  }

  .online_cont.s--online_el-active .online_el:nth-child(1):not(.s--active) {
    transform: none;
    opacity: 0;
    transition: opacity 0.95s;
  }
  .online_cont.s--online_el-active .online_el:nth-child(2):not(.s--active) {
    -webkit-transform: translate3d(0, 105.2083333333%, 0);
          transform: translate3d(0, 105.2083333333%, 0);
    transition: opacity 0.95s;
  }
  .online_cont.s--online_el-active .online_el:nth-child(3):not(.s--active) {
    -webkit-transform: translate3d(0, 210.4166666667%, 0);
          transform: translate3d(0, 210.4166666667%, 0);
    transition: opacity 0.95s;
  }
  .online_cont.s--online_el-active .online_el:nth-child(4):not(.s--active) {
    -webkit-transform: translate3d(0, 315.625%, 0);
          transform: translate3d(0, 315.625%, 0);
    transition: opacity 0.95s;
  }
  .online_cont.s--online_el-active .online_el:nth-child(5):not(.s--active) {
    -webkit-transform: translate3d(0, 420.8333333333%, 0);
          transform: translate3d(0, 420.8333333333%, 0);
    transition: opacity 0.95s;
  }
  .online_cont.s--online_el-active .online_el:nth-child(6):not(.s--active) {
    -webkit-transform: translate3d(0, 526.041333333%, 0);
          transform: translate3d(0, 526.041333333%, 0);
    transition: opacity 0.95s;
  }
  .online_cont.s--online_el-active .online_el:nth-child(7):not(.s--active) {
    -webkit-transform: translate3d(0, 631.249%, 0);
          transform: translate3d(0, 631.249%, 0);
    transition: opacity 0.95s;
  }
  .online_cont.s--online_el-active .online_el:nth-child(8):not(.s--active) {
    -webkit-transform: translate3d(0, 736.457%, 0);
          transform: translate3d(0, 736.457%, 0);
    transition: opacity 0.95s;
  }

  .online_el:nth-child(2) {
    -webkit-transform: translate3d(0, 105.2083333333%, 0);
            transform: translate3d(0, 105.2083333333%, 0);
    -webkit-transform-origin: 155.2083333333% 50%;
            transform-origin: 155.2083333333% 50%;
  }
  .online_el:nth-child(2) .online_el__bg {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .online_el:nth-child(3) {
    -webkit-transform: translate3d(0, 210.4166666667%, 0);
            transform: translate3d(0, 210.4166666667%, 0);
    -webkit-transform-origin: 260.4166666667% 50%;
            transform-origin: 260.4166666667% 50%;
  }
  .online_el:nth-child(3) .online_el__bg {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .online_el:nth-child(4) {
    -webkit-transform: translate3d(0, 315.625%, 0);
            transform: translate3d(0, 315.625%, 0);
    -webkit-transform-origin: 365.625% 50%;
            transform-origin: 365.625% 50%;
  }
  .online_el:nth-child(4) .online_el__bg {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .online_el:nth-child(5) {
    -webkit-transform: translate3d(0, 420.8333333333%, 0);
            transform: translate3d(0, 420.8333333333%, 0);
    -webkit-transform-origin: 470.8333333333% 50%;
            transform-origin: 470.8333333333% 50%;
  }
  .online_el:nth-child(5) .online_el__bg {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .online_el:nth-child(6) {
    -webkit-transform: translate3d(0, 526.041333333%, 0);
            transform: translate3d(0, 526.041333333%, 0);
    -webkit-transform-origin: 575.8333333333% 50%;
            transform-origin: 575.8333333333% 50%;
  }
  .online_el:nth-child(6) .online_el__bg {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .online_el:nth-child(7) {
    -webkit-transform: translate3d(0, 631.249%, 0);
            transform: translate3d(0, 631.249%, 0);
    -webkit-transform-origin: 681.041% 50%;
            transform-origin: 681.041% 50%;
  }
  .online_el:nth-child(7) .online_el__bg {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .online_el:nth-child(8) {
    -webkit-transform: translate3d(0, 736.457%, 0);
            transform: translate3d(0, 736.457%, 0);
    -webkit-transform-origin: 786.249% 50%;
            transform-origin: 786.249% 50%;
  }
  .online_el:nth-child(8) .online_el__bg {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

}